<!doctype html>

<!-- In this html page i want to bring base.html. For that i am going to replace it with base but instead of writing html i am going to pass layout and in my layout i am going to pass my below section i.e., its reference which will go in my base.html layout(content) and then into the div and then as a whole it will come to home -->

<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>
<body>
	<section>
	
	<div class="card mr-3 ml-3">
	
	<div class="card-body">
	
	<h1 class="text-center">Add Contact</h1>
	
	<div class="container-fluid mt-1">
	
	<div class="row">
	
	<div class="col-md-8 offset-md-2">
	
	<form action="#"
		  th:object="${contact}"
		  enctype="multipart/form-data"
		  method="POST"
		  th:action="@{/user/process-contact}"
		  class="mt-2"
	>
	
	<!-- First Name -->
	<div class="input-group">
	<div class="input-group-prepend">
	<div class="input-group-text">
	<i class="fa fa-plus"></i>
	
	</div>
	</div>
	<!-- With this required i am providing the html validation -->
	<input required min="3" max="20" type="text" id="firstName" name="name" placeholder="Enter Name here" class="form-control" />
	</div>
	
	<!-- Second Form -->
	<div class="input-group mt-3">
	<div class="input-group-prepend">
	<div class="input-group-text">
	<i class="fas fa-user-alt"></i>
	
	</div>
	</div>
	<input required min="3" max="20" type="text" id="secondName" name="secondName" placeholder="Enter Second Name here" class="form-control" />
	</div>
	
	<!-- Phone -->
	<div class="input-group mt-3">
	<div class="input-group-prepend">
	<div class="input-group-text">
	<i class="fa-solid fa-phone"></i>
	
	
	</div>
	</div>
	<input required min="10"  type="number" id="phone" name="phone" placeholder="Enter Phone Number here" class="form-control" />
	</div>
	
	<!-- Email -->
	<div class="input-group mt-3">
	<div class="input-group-prepend">
	<div class="input-group-text">
	<i class="fas fa-user-alt"></i>
	
	</div>
	</div>
	<input required type="email" id="email" name="email" placeholder="Enter Email here" class="form-control" />
	</div>
	
	<!-- Work Field -->
	<div class="input-group mt-3">
	<div class="input-group-prepend">
	<div class="input-group-text">
	<i class="fa fa-briefcase"></i>
	
	</div>
	</div>
	<input required type="text" id="work" name="work" placeholder="Enter Work here" class="form-control" />
	</div>
	
	<!-- Contact Description -->
	<div class="form-group mt-3">
	<textarea id="mytextarea" placeholder="Enter Contact Description" name="description"  class="form-control" cols="30" rows="10"></textarea>
	</div>
	
	<!-- Contact Image -->
	<div class="custom-file">
	<input type="file" name="profileImage" />
	
	</div>
	
	<div class="container text-center">
	<button class="btn btn-outline-primary">Save Contact</button>
	</div>
	
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	<!-- I have added it in section so that ye section form mai he aaye. This syntax is to add tiny mce. Also going to add the id in my text area -->
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<!-- #starting with this means it is targeting the id -->
	<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
	
	
	</section>
</body>
</html>